
@{
    ViewBag.Title = "AssociarConvidado";
}

<h2>AssociarConvidado</h2>

<form role="form">
    <div class="form-group">
        <label for="exampleInputEmail1">Nome Convidado</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Nome do Convidado">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

