<table class="table table-striped">
    <thead>
        <tr>
            <td></td>
            <td>Nome</td>
            <td>Cotacao</td>
        </tr>
    </thead>
    <tbody data-bind="foreach: Presentes">
        <tr>
            <td><button class="btn-sm btn-info" data-toggle="modal" data-target="#editModal" data-bind="click: function(){ $root.editar(this.Id()) }">Editar</button></td>
            <td data-bind="text: Id"></td>
            <td data-bind="text: Nome"></td>
        </tr>
        <!-- ko foreach: Cotacoes -->
        <tr>
            <td data-bind="text: SiteNome"></td>
        </tr>
        <!-- /ko -->
    </tbody>
</table>
