@model IEnumerable<Casando.Core.Modelos.Convidado>
           
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Nome</td>
                <td>Endereço</td>
                <td>Quantidade de Exibíveis</td>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var convidado in Model)
            {
                <tr>
                    <td>@convidado.Nome</td>
                    <td>@convidado.Endereco</td>
                    <td>@convidado.NumeroConvites</td>
                </tr>
            }
            
        </tbody>
    </table>
</div>


