<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="CasandoContext" connectionString="" xdt:Transform="Remove" xdt:Locator="Match(name)"/>
      <add name="CasandoContext2" 
        connectionString="Data Source=.\sqlexpress;Initial Catalog=CasandoDB;Persist Security Info=True;Trusted_Connection=True;" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>