@{
    ViewBag.Title = "Index";
}

<h2>Convidados</h2>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Cadastrar Convidado
</button>
<ul class="nav nav-tabs" role="tablist" id="myTab">
    <li class="active"><a href="#home" role="tab" data-toggle="tab">Familia do Noivo</a></li>
    <li><a href="#profile" role="tab" data-toggle="tab">Familia da Noiva</a></li>
    <li><a href="#messages" role="tab" data-toggle="tab">Amigos do Noivo</a></li>
    <li><a href="#settings" role="tab" data-toggle="tab">Amigas da Noiva</a></li>
</ul>
<div class="convidados">
    <div class="tab-content">
        <div class="tab-pane active" id="home">
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Nome</td>
                            <td>Endereço</td>
                            <td>Quantidade de Exibíveis</td>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Convidados">
                        <tr>
                            <td data-bind="text: Nome"></td>
                            <td data-bind="text: Endereco"></td>
                            <td data-bind="text: Exibiveis"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane" id="profile">...</div>
        <div class="tab-pane" id="messages">...</div>
        <div class="tab-pane" id="settings">...</div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Novo Convidado</h4>
                </div>
                <div class="modal-body">
                    <div id="cadConvidado" data-bind="with: novoConvidado">
                        <div class="form-group">
                            <label>Categoria</label>
                            <select data-bind="options: tiposDeConvidados" class="form-control"></select>
                        </div>
                        <div class="form-group">
                            <label>Nome Completo</label>
                            <input type="text" data-bind="value: Nome" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Endereço</label>
                            <input type="text" data-bind="value: Endereco" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Número de Exibíveis</label>
                            <input type="text" data-bind="value: Exibiveis" class="form-control" />
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" data-bind="click: $root.adicionar" data-dismiss="modal">Salvar</button>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/ViewModels/ConvidadoViewModel.js"></script>


