@model IDictionary<string, int>

@{
    ViewBag.Title = "Resumo";
}


<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Descrição</td>
                <td>Quantidade de Exibíveis</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var convidado in Model)
            {
                <tr>
                    <td>@convidado.Key</td>
                    <td>@convidado.Value</td>
                </tr>
            }
        </tbody>
    </table>
</div>
